*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#575151;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-box{
    width:450px;
    background:rgb(229, 164, 164);
    border:1px solid #cccccc;
    padding:20px;
}

.top-section{
    text-align:center;
    margin-bottom:15px;
}

h1{
    margin-bottom:5px;
}

.game-info{
    color:#666;
}

.score-area{
    margin-bottom:15px;
}

.score-card{
    border:1px solid #352727;
    padding:10px;
    text-align:center;
}

.score-label{
    margin-bottom:5px;
}

.score-number{
    font-size:30px;
}

.game-area{
    text-align:center;
}

#gameCanvas{
    background:rgb(233, 201, 201);
    border:1px solid #968a8a;
}

.button-area{
    margin-top:15px;
    display:flex;
    gap:10px;
}

button{
    flex:1;
    padding:10px;
    border:none;
    background:#b92b45;
    color:rgb(0, 0, 0);
    cursor:pointer;
}

button:hover{
    background:#434b54;
}


.game-over{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:none;
    justify-content:center;
    align-items:center;
}

.game-over-box{
    background:rgb(137, 117, 117);
    padding:30px;
    text-align:center;
    border-radius:10px;
    width:250px;
}

.game-over-box h2{
    margin-bottom:10px;
}

.game-over-box button{
    margin-top:15px;
    width:100%;
}
